<!DOCTYPE html>
<html>
<head>
    <title>Dramas</title>
</head>
<body id="page1">
    <a name="top"></a>
    <header>    
        <div class="row-1">
            <ul  class="sf-menu">
                <li class="bgr"> <%= link_to "Rateit", root_path %></li>
                <li class="bgr"> <%= link_to "Book", books_path %></li>
                <li class="bgr"> <%= link_to "Movie", movies_path %></li>
                <li class="bgr"> <%= link_to "Song", songs_path %></li>
                <li class="bgr"> <%= link_to "Drama Series", dramas_path %></li>
                <li class="bgr"> <%= link_to "About us", static_info_path %></li>
                <% if user_signed_in? %>
                <li class="bgr"> <%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
                <li class="bgr"> <%= link_to current_user.user_name, edit_registration_path(current_user) %> </li>
                <% if current_user.usertype == 779 %>
                        <li class="bgr"> <%= link_to "Admin", static_admin_path %></li>
                    <% end %>
                <li class="bgr"> <%= link_to "Add Drama", new_drama_path %> </li>
                <% else %>
                <li class="bgr"> <%= link_to "Sign Up", new_user_registration_path %></li>
                <li class="bgr"> <%= link_to "Log In", new_user_session_path %> </li>
                <% end %>   
            </ul>
        </div> 

        <div class="row-2" style="width:300px; float:right; font-size:24px; color:#b9b9b9;  padding:4px 9px 6px 9px; margin-right:10px;">
            <%= form_tag(dramas_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search", size: "20" %>
            <% end %>
        </div>
    </header>

    <section id="content">   
        <div class="wrapper">
            <div style=" width:180px; float:left; margin-left:10px;">
                <ul class="list-1">
                     <div style="color:#8c8c8c; text-align:center; padding:6px; background-color: #ededed; font-size:14px;"> Order By </div>
                    <li> <a href= "<%= dramas_path %> "> Uploaded Date</a> </li>
                    <li> <a href="<%= dramas_bytitle_path %> "> Name</a> </li>
                    <li> <a href="<%= dramas_byyear_path %>"> Released Year </a> </li>
                    <li> <a href="<%= dramas_byrating_path %>"> Rating </a> </li>
                    
                </ul>
            </div>               

            <div id="content_box"> 
                <div style=" width:1100px; float:left; margin-left:10px;">
                    <div class="bg-grey">
                        <div class="padding-1">
                            <div class="wrapper">
                                <font color="Purple" size="4">Drama Series</font>
                            </div>
                        </div>
                    </div>
                    <div style="font-size:14px;" class="box" width = "100%" hight = "1010">
                    
                        <div class="row">
                        <% if @drama.count == 0 %>
                            <h4 style="margin-left: 40px;"> No Drama Available </h4>
                        <% else %>
                            <% @cnt = 0 %>
                            <% @drama.each do |drama| %>
                                    <!--<h3> <%= link_to drama.title, drama_path(drama) %> </h3>-->
                                <div class="col-md-3" >
                                <% @cnt = @cnt + 1 %>
                                <% if @cnt%4 == 1 %>
                                    <br><br>
                                <% elsif @cnt%4 == 2 %>
                                    <br><br><br><br>
                                <% elsif @cnt%4 == 3 %>
                                    <br><br><br><br><br><br>
                                <% elsif @cnt%4 == 0 %>
                                    <br><br><br><br><br><br><br><br>
                                <% end %>
                                <a href="/dramas/<%= drama.id %>">
                                    <%= image_tag drama.drama_img.url(:book_index), class: "book" %>
                                </a>
                            </div>
                            <% end %>
                            <% end %>
                        </div>
                    </div>     
                </div>
            </div> 
        </div>                                                                                                                                          
        </section>
        
        <hr>
        
        <footer>
            <div>
                <ul>
                    <li style="margin-left: 800px"><a href="#top">Go to top</a></li>
                </ul>
            </div>
        </footer>

    </body>
    </html>
