<div class="review">
	<p class="review-comment"> <%= movierep.comment %></p>
	<h4> commented by <% @us.each do |us| %>
		<% if us.id == movierep.user_id %>
			<%= us.user_name %>
		<% end %>
	<% end %>
	</h4>
		<% if user_signed_in? %>
			<% if movierep.user_id == current_user.id  %>
				<div class="links btn-group">
					<%= link_to "Edit", edit_movie_movierep_path(movierep.movie, movierep) ,class:"btn btn-custom" %> 
					<%= link_to "Delete", movie_movierep_path(movierep.movie, movierep), method: :delete, data: { confirm: "Are you sure?" } ,class:"btn btn-custom" %>
				</div>
			<% elsif current_user.usertype == 779 %>
				<div class="links btn-group">
					<%= link_to "Delete", movie_movierep_path(movierep.movie, movierep), method: :delete, data: { confirm: "Are you sure?" } ,class:"btn btn-custom" %>
				</div>	
			<% end %>
		<% end %>	
</div>	 