<div class="review">
	<p class="review-comment"> <%= songrep.comment %></p>
	<h4> commented by <% @us.each do |us| %>
		<% if us.id == songrep.user_id %>
			<%= us.user_name %>
		<% end %>
	<% end %>
	</h4>
		<% if user_signed_in? %>
			<% if songrep.user_id == current_user.id  %>
				<div class="links btn-group">
					<%= link_to "Edit", edit_song_songrep_path(songrep.song, songrep) ,class:"btn btn-custom" %> 
					<%= link_to "Delete", song_songrep_path(songrep.song, songrep), method: :delete, data: { confirm: "Are you sure?" } ,class:"btn btn-custom" %>
				</div>
			<% elsif current_user.usertype == 779 %>
				<div class="links btn-group">
					<%= link_to "Delete", song_songrep_path(songrep.song, songrep), method: :delete, data: { confirm: "Are you sure?" } ,class:"btn btn-custom" %>
				</div>	
			<% end %>
		<% end %>		
</div>	 