
<div class="review">	
	<p class="review-rating"> Rating : <%= songreview.rating %></p>
	<p class="review-comment"> <%= songreview.comment %></p>
	<h4> rated by <% @us.each do |us| %>
		<% if us.id == songreview.user_id %>
			<%= us.user_name %>
		<% end %>
	<% end %>
	</h4>
		<% if user_signed_in? %>
			<% if songreview.user_id == current_user.id  %>
				<div class="links btn-group">
					<%= link_to "Edit", edit_song_songreview_path(songreview.song, songreview) ,class:"btn btn-custom" %> 
					<%= link_to "Delete", song_songreview_path(songreview.song, songreview), method: :delete, data: { confirm: "Are you sure?" } ,class:"btn btn-custom" %>
				</div>
			<% elsif current_user.usertype == 779 %>
				<div class="links btn-group">
					<%= link_to "Delete", song_songreview_path(songreview.song, songreview), method: :delete, data: { confirm: "Are you sure?" } ,class:"btn btn-custom" %>
				</div>	
			<% end %>
		<% end %>		
</div>	 